@import 'tailwindcss';

@use 'styles/toastify-overrides.scss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: auto;

    @media (min-width: 640px) {
        overscroll-behavior: none;
    }
}
